@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#body-wrap {
    background: linear-gradient(-45deg, #0062be, #925696, #cc426e, #fb0347);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
